$color-dark: #11151c;
$color-medium-dark: #212d40;
$color-primary: #364156;
$color-secondary: #7d4e57;
$color-alert: #d66853;
$color-white: #e5e5e5;
$color-success: #94d2bd;
$color-text-primary: #e5e5e5;
$color-text-secondary: #a4a3a3;

$padding-primary: 10px;

